@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global cs that wont be using tailwind*/
html,
body,
#root,
.app {
  height: 100%;
  background-color: #FAF0E6 ; 
  @apply text-gray-900; /* defaults texts to white */
}
.greyscale-filter {
  filter: grayscale(100%);
  transition: filter 0.5s linear;
}

.greyscale-filter:hover {
  filter: none;
}
